*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'), url('../font/symbols-sedona.woff?60737633') format('woff'), url('../font/symbols-sedona.ttf?60737633') format('truetype'), url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
    content: '\66';
}
/* 'f' */

.icon-twitter:before {
    content: '\74';
}
/* 't' */

.icon-up-dir:before {
    content: '\25b2';
}
/* '▲' */

.icon-down-dir:before {
    content: '\25bc';
}
/* '▼' */

.icon-star:before {
    content: '\2605';
}
/* '★' */

.icon-check-off:before {
    content: '\2610';
}
/* '☐' */

.icon-check-on:before {
    content: '\2611';
}
/* '☑' */

.icon-calendar:before {
    content: '\e800';
}
/* '' */

.icon-plus:before {
    content: '\e801';
}
/* '' */

.icon-minus:before {
    content: '\e802';
}
/* '' */

.icon-youtube:before {
    content: '\f39e';
}
/* '' */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 21px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

h2,
.h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    background-color: #fafafa;
    margin: 0 auto;
}

.row {
    
}

.cf:after,
.row:after,
.container:after {
    content: '';
    display: table;
    clear: both;
}

.col-1 {
    width: 33.33%;
    float: left;
    outline: 1px dotted #000;
}

.col-2 {
    width: 66.66%;
    float: left;
    outline: 1px dotted #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-navigation li {
    float: left;
    width: 20%;
    text-align: center;
}

.big-intro {
    background-image: url(../img/intro-bg.jpg);
    text-align: center;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

.about h1,
p {
    text-align: center;
}

.main-navigation a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.col-1 .benefit {
    text-align: center;
}

.benefit-blue {
    background: #81b3d2;
    color: white;
    height: 100%;
}

.benefit-white {
    background: white;
    color: black;
    height: 100%;
}

.benefit-grey {
    background: #eee;
    color: black;
    height: 100%;
}

.benefit {
    min-height: 100%;
}
